.Navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-content: center;
  z-index: 999;
}
.Navbar ul {
  /* MENU */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: white;
  overflow: hidden;
  overflow-y: hidden;
  height: 0;
  width: 28rem;
  justify-content: center;
  align-items: start;
  padding: 0 2rem;
  font-size: 2rem;
  border-radius: 10px;
  overflow-y: scroll;
  transition: height 0.3s ease, opacity 0.3s ease;
  opacity: 0; /* Initially hidden */
  pointer-events: none; /* Prevent clicks when hidden */
}

.Navbar ul.show-menu {
  padding: 2rem;
  z-index: 999;
  min-height: 36rem;
  width: 29rem;
  font-weight: 300;
  opacity: 1; /* Fully visible */
  pointer-events: auto; /* Enable clicks when visible */
}

.Navbar ul li {
  list-style: none;
}

.Navbar ul li a {
  text-decoration: none;
  color: black;
}

.Navbar ul li a:hover {
  color: #f12d03;
}

.contactUS {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shareIcon {
  font-size: 1.5rem;
}

.menuIcon {
  font-size: 3rem;
  color: #f12d03;
  cursor: pointer;
  position: fixed;
  right: 7%;
  top: 3%;
  z-index: 999;
}

.close-menu-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-end;
  z-index: 99;
}

.logo {
  height: 5rem;
  padding: 1rem;
  width: 9rem;
  object-fit: cover;
  margin: 1.1rem 4rem;
}

.socialMediaMenu {
  height: 4rem;
  display: grid;
  font-size: 1.2rem;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  margin-top: 2rem;
  color: #919193;
  text-transform: capitalize;
}
.socialMediaMenu :nth-child(n) {
  cursor: pointer;
}

@media (max-width: 500px) {
  .close-menu-button {
    width: 11rem;
    position: fixed;
    top: 1%;
    right: -2%;
  }
  .socialMediaMenu {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 422px) {
  .socialMediaMenu {
    grid-template-columns: auto;
  }
}
