.home_sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 2rem;
}

/* Adjust for larger screens */
@media (min-width: 768px) {
  .home_sec {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .title {
    align-items: flex-start;
  }
}

.title {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 2rem;
  font-size: 1.5rem;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.title h1 {
  font-size: 4rem;
}

.title p {
  width: 100%;
  font-size: 1rem;
  color: #807f82;
}

.contactBtn {
  height: 4rem;
  width: 11rem;
  border-radius: 0;
  background: #f12d03;
  border: none;
  font-size: 1rem;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

@media (min-width: 768px) {
  .title {
    min-height: 29rem;
    width: 69rem;
    padding: 3rem;
    font-size: 2rem;
    gap: 2rem;
  }

  .title p {
    width: 38rem;
    font-size: 1.2rem;
  }
}

.IconsParent {
  height: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 1rem;
  z-index: 20;
  padding: 2rem 0;
}

.IconsParent i {
  cursor: pointer;
}

.IconsParent i:hover {
  color: #f12d03;
}

.shadow {
  height: 39.4rem;
  position: absolute;
  right: 0;
}

@media (min-width: 768px) {
  .IconsParent {
    height: 14rem;
    flex-direction: column;
    width: 7.9rem;
    gap: 1rem;
  }
}

.talkAbout {
  display: flex;
  min-height: 47vh;
  justify-content: space-between;
  align-items: center;
}

.talkAbout :nth-child(1) {
  width: 69.2rem;
  font-size: 2rem;
  padding: 4rem;
  color: #f12d03;
  text-align: start;
}

.talkAbout :nth-child(2) {
  color: white;
  min-height: 6rem;
  font-size: 1.4rem;
  width: 101rem;
  letter-spacing: 1px;
  padding: 1rem;
  text-align: start;
}

@media (max-width: 710px) {
  .home_sec :nth-child(n) {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    z-index: 999;
  }

  .title .h1 {
    font-size: 1.5rem;
  }
  .talkAbout {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  html {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .home_sec :nth-child(n) {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
  }

  .title .h1 {
    font-size: 2rem;
  }

  .talkAbout {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  html {
    font-size: 10px;
  }
}

@media (min-width: 426px) and (max-width: 706px) {
  .title .h1 {
    font-size: 3.5rem;
    width: 63rem;
  }
}
