html {
  scroll-behavior: smooth;
}

.Navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-content: center;
  z-index: 999;
}

.Navbar ul {
  /* MENU */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: white;
  overflow: hidden;
  height: 0;
  width: 28rem;
  justify-content: center;
  align-items: start;
  padding: 0 2rem;
  font-size: 2rem;
  border-radius: 10px;
  transition: height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0%;
  right: 1%;
  z-index: 9999; /* Consistent z-index */
}

.navTextParent {
  min-height: 33.1vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 3rem;
}
.Navbar ul.show-menu {
  padding: 5rem 2rem 1rem;
  min-height: 32rem;
  width: 29rem;
  font-weight: 300;
  opacity: 1;
  pointer-events: auto;
  overflow: hidden; /* Prevent scrollbars during transition */
}

.Navbar ul li {
  list-style: none;
}

.Navbar ul li a {
  text-decoration: none;
  color: black;
  margin-bottom: 2rem;
}

.Navbar ul li a:hover {
  color: #f12d03;
}

.contactUS {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shareIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 7rem;
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.menuIcon {
  font-size: 2.5rem;
  cursor: pointer;
  position: fixed;
  right: 3.5%;
  top: 1%;
  z-index: 999;
}

.close-menu-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-end;
  z-index: 99;
  position: fixed;
  top: 1%;
  right: 3.5%;
}

.logo {
  height: 5rem;
  padding: 1rem;
  width: 9rem;
  object-fit: cover;
  margin: 1.1rem 4rem;
}

.socialMediaMenu {
  min-height: 5.4rem;
  display: grid;
  font-size: 1.2rem;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  margin-top: 2rem;
  color: #919193;
  text-transform: capitalize;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-left: 2.5rem;
  background: #eee;
  padding-top: 1rem;
  z-index: 9999; /* Ensure it stays on top */
}

.socialMediaMenu :nth-child(n) {
  cursor: pointer;
}

@media (min-width: 426px) and (max-width: 768px) {
  .close-menu-button {
    width: 10rem;
    top: 1%;
    right: -10.5%;
  }
  #Line {
    width: 100%;
    margin-top: -5.2rem !important;
    margin-bottom: -0.9rem !important;
  }
  .socialMediaMenu {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 425px) {
  .socialMediaMenu {
    grid-template-columns: auto;
    font-size: 1rem;
    min-height: 7rem;
  }
  .Navbar ul.show-menu {
    font-size: 1rem;
    width: 100%;
    z-index: 9999;
    height: 100%;
  }
}
