.Navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-content: center;
  z-index: 999;
}

.Navbar ul {
  /* MENU */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: white;
  overflow: hidden;
  height: 0;
  width: 28rem;
  justify-content: center;
  align-items: start;
  padding: 0 2rem;
  font-size: 2rem;
  border-radius: 10px;
  transition: height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  /* Initially hidden */
  pointer-events: none;
  /* Prevent clicks when hidden */
  position: fixed;
  top: 0%;
  right: 1%;
}

.Navbar ul.show-menu {
  padding: 2rem;
  z-index: 9999;
  min-height: 36rem;
  width: 29rem;
  font-weight: 300;
  opacity: 1;
  /* Fully visible */
  pointer-events: auto;
  /* Enable clicks when visible */
}

.Navbar ul li {
  list-style: none;
}

.Navbar ul li a {
  text-decoration: none;
  color: black;
}

.Navbar ul li a:hover {
  color: #f12d03;
}

.contactUS {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shareIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menuIcon {
  font-size: 3rem;
  color: #f12d03;
  cursor: pointer;
  position: fixed;
  right: 3.5%;
  top: 1%;
  cursor: pointer;
  z-index: 999;
}

.close-menu-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-end;
  z-index: 99;
  position: fixed;
  top: 1%;
  right: 3.5%;
}

.logo {
  height: 5rem;
  padding: 1rem;
  width: 9rem;
  object-fit: cover;
  margin: 1.1rem 4rem;
}

.socialMediaMenu {
  height: 7rem;
  display: grid;
  font-size: 1.2rem;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  margin-top: 2rem;
  color: #919193;
  text-transform: capitalize;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-left: 2.5rem;
  background: #EEE;
  padding-top: 1rem;
}

.socialMediaMenu :nth-child(n) {
  cursor: pointer;
}

.hrTag {
  height: 2px;
  background: #eee;
  width: 100%;
}
.bg_nav_menu {
  background: #eee;
  position: absolute;
  bottom: 0%;
  max-height: 17%;
  width: 123%;
  margin-left: -3rem;
  z-index: -1;
}

@media (max-width: 500px) {
  .close-menu-button {
    width: 10rem;
    top: 1%;
    right: -10.5%;
  }

  .socialMediaMenu {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 425px) {
  .socialMediaMenu {
    grid-template-columns: auto;
    font-size: 1rem;
    margin-bottom: 1rem;
    height: 6rem;
  }
  .Navbar ul.show-menu {
    font-size: 1rem;
    width: 10rem;
    z-index: 9999;
  }
  .bg_nav_menu {
    max-height: 17%;
  }
}
